@font-face {
    font-family: Saira Stencil One;
    src: url(fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Lora;
    src: url(fonts/Lora/Lora-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Myriad Pro;
    src: url(fonts/Myriad_Pro/MyriadPro-Regular.otf) format("opentype");
}

body {margin: 0px;}

header {
    position: relative;
    bottom: 5px;
    height: fit-content;
    min-height: 130px;
    background-color: #31006F;
}

.headerimg {
    display: inline-block;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    top: 5px;
    z-index: 1;
}

.headerimg img {
    height: 145px;
    width: 145px;
    transform: translate(-12.5px, -12.5px);
}

.headertxt {
    display: inline-block;
    color: #F5A800;
    background-color: #31006F;
    vertical-align: bottom;

    position: relative;
    bottom: 15px;
    left: 10px;
}

.headertxt h1 {
    font-family: 'Saira Stencil One';
    font-size: 2.7em;
    margin: 0;
}

.headertxt h2 {
    font-family: 'Lora';
    font-size: 1.5em;
    margin: 0;
    
    position: relative;
    bottom: 10px;
}


/* Dropdowns */

.dropdown {display: inline; position: relative;}
.dropcaret {font-size: 0.6em; vertical-align: middle; font-style: normal;}

.navbar {
    height: 1.1em; position: relative;
    /* navbar a vertical padding - headertxt bottom positioning */
    bottom: 2px;
}
.navbar a, .dropdown span {
    color: #F5A800;
    text-decoration: none;
    font-family: 'Myriad Pro';
    font-size: 1.1em;
    
    display: inline-block;
    height: 100%;
    padding: 10px 12px 7px 12px;
    transition: background-color 0.27s linear;
}

.dropdown-content {
    position: absolute;
    left: 0px;
    /* difference between navbar a top padding and bottom padding + font height */
    top: calc(3px + 1.1em);
    z-index: 1;
    
    background-color: #31006F;
    transition: background-color 0.27s linear, opacity 0.27s linear;
    width: max-content;
    width: 100%;
    min-width: fit-content;
    visibility: hidden;
    opacity: 0;
}

.dropdown-content a {display: block;}

.navbar a:hover {background-color: #61309F; text-decoration: underline;}
.dropdown:hover span {background-color: #61309F;}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    background-color: #61309F;
}