.navbar-default {
    background: var(--riordan_purple);
    border-bottom: var(--riordan_gold) 3px solid;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li.open>a,
.navbar-default .navbar-nav>li:hover>a {
    color: var(--riordan_gold);
}

.dropdown-item:hover {
    color: var(--riordan_gold);
    background-color: #61309F;
}

.dropdown-divider {
    border-color: var(--riordan_gold);
}

.dropdown-menu {
    background-color: var(--riordan_purple);
}

.dropdown-item {
    background-color: var(--riordan_purple);
    color: var(--riordan_gold);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.headert1 {
    font-family: 'Saira Stencil One';
    font-size: 2.7em;
    margin: .5rem 0;
    padding-left: 0px;
    color: var(--riordan_gold);
}

.headert2 {
    font-family: 'Lora';
    font-size: 1.5em;
    margin: 0;

    bottom: 10px;
    color: var(--riordan_gold);
}

.navbar-brand {
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.ml-auto {
    padding-right: 35px;
}