@font-face {
    font-family: Saira Stencil One;
    src: url(fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Lora;
    src: url(fonts/Lora/Lora-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Myriad Pro;
    src: url(fonts/Myriad_Pro/MyriadPro-Regular.otf) format("opentype");
}

:root {
    --riordan_purple: #31006f;
    --riordan_gold: #f6a500;
}

html, body {
    margin: 0;
    height: 100%;
}

.main-body {
    min-height: 100%;
    padding-top: 120px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}